<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-default" id="category">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/add_new_category">Add New Category</a></li>
          <li><a href="/passwordCategory">View All Category</a></li>
        </ul>
      </li>
         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/add_new_password">Add New Password</a></li>
          <li><a href="/view-all-password-list">View All Password</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
    <h1><%= title %></h1>

     <div class="eform">
      <form action="/" method="post">
        <fieldset>
            <legend>Add New Password</legend>
            <div class="form-group">
                <label for="pass_details">password category</label>
                <select class="form-control" name="pass_details">
                    <option value="">Choose password category</option>
                    <option value="godaddy">Godaddy</option>
                    <option value="cpanel">Cpanel</option>
                </select>
            </div>
               
                 <div class="form-group">
                <label for="pass_details">password Details</label>
                <textarea type="text" id="pass_details" name="pass_details" value="" placeholder="Enter Your Password Details" rows="5"></textarea>
            </div>
          
              <input class="btn" type="submit" type="button" name="submit" value="Add Password">
        </fieldset>
         <p class=""><a href="/view-all-password-list">View All password lists</a></p>
    </form>
    </div>

    </body>
</html>
