<%- include('./templates/header.ejs') %>

     <div class="eform">
      <form action="/add_new_category" method="post">
        <fieldset>
            <legend>Add New Category form</legend>
            <% if(errors !=''){ %>
              <p style="text-align: center; color: rgb(158, 74, 74)"><%= errors.passwordCategory.msg %></p>
            <% } else if( success != ''){ %>
              <p style="text-align: center; color: rgb(84, 158, 74)"><%= success %></p>
             <% } %>
            <div class="form-group">
                <label for="name">Add New Category Name</label>
                <input type="text" id="name" name="passwordCategory" value="" placeholder="Enter Your Password Category">
            </div>
          
              <input class="btn" type="submit" type="button" name="submit" value="Add New Category">
        </fieldset>
         <p><a href="/passwordCategory">View All Category list</a></p>
    </form>
    </div>

    <%- include('./templates/footer.ejs') %>
